.about {
    min-height: 100vh;
    padding: 70px 10% 5% 10%;
    background-image: url("https://res.cloudinary.com/dslilw3b5/image/upload/v1698156377/vrac/landingPage/DALL_E_2023-10-24_15.50.01_-_Website_template_for_WonderWalk_s_About_Us_section._Embracing_minimalism_the_background_is_pristine_white._The_top_has_a_basic_navigation_bar_with_htxlhq.png");
    background-repeat: no-repeat;
    background-position: center;
}